@font-face {
  font-family: font;
  src: url(font/MYRIADPRO-REGULAR.OTF);
}

* {
  font-family: font;
  list-style-type: none;
}

span {
  font-family: 'Nanum Gothic Coding' !important;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* 화면 꽉 채우기*/

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.5;
  display: none;
}

.header {
  width: 100%;
  height: auto;
  z-index: 2;
}

.nav {
  width: 20%;
  height: 75%;
  float: left;
  background: #ffffff;
  overflow: auto;
}

.section {
  width: 80%;
  height: 75%;
  float: left;
  background: #f2f2f2;
}

/*.aside{width: 15%; height: 70%; float: left; background: white;}*/

.footer {
  width: 100%;
  height: 18.5%;
  clear: both;
  background: #2E2E2E;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3AAFA9;
}

.dropdown {
  float: left;
}

.dropdown a,
.dropbtn {
  display: inline-block;
  color: #dddddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown a:hover,
.dropdown:hover .dropbtn {
  background-color: #002fff;
  cursor: pointer;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.rightHead {
  float: right;
}

.pop {
  background: white;
  width: 300px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.pop2 {
  background: white;
  width: 300px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#text {
  border: 1px solid #D8D8D8;
  font-size: 20px;
  border-radius: 5%;
}


.popup{
  position: absolute;
  z-index: 100;
  display: none;
  width: 300px;
  height: 300px;
  background-color:#585858;
  border-radius: 10%;
  
}

.tab_title_area .tab_title_item
{
  display: inline-block;
  min-width: 60px;
  max-width: 200px;
  height: 100%;
  border-right: 1px solid #CCC;
}

.tab_title_area .tab_title_item.selected
{
    color: #F00;
}

.tab_content_area {
    width: 100%;
    background-color: #0F0;

}

input[placeholder="ID (e-mail)"]{
  position: relative;
  left:50%;
  transform: translateX(-50%);
  border: none;
  padding: 10px;  
  background-color: #6E6E6E;  
  outline: none;
  margin-top: 10%;
  color: #fff;
}

input[placeholder="PASSWORD"]{
  position: relative;
  left:50%;
  transform: translateX(-50%);
  border: none;
  padding: 10px;  
  background-color: #6E6E6E;  
  outline: none;
  margin-top: 5%;
  color: #fff;
}

input[type="button"].button{
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  border: none;
  padding: 10px;  
  background-color: #FF00FF;
  padding: 20px;
  color: #fff;
  font-weight: bold;
  width: 300px; 
  top:60%;
  cursor: pointer;
}

input[type="button"].btn_tab {
  float: left;

}

input[placeholder="NAME"]{
position: relative;
  left:50%;
  transform: translateX(-50%);
  border: none;
  padding: 10px;  
  background-color: #6E6E6E;  
  outline: none;
  margin-top: 5%;
  color: #fff;
}

input[placeholder="MAKE PROJECT"]{
  position: relative;
    left:50%;
    transform: translateX(-50%);
    border: none;
    padding: 10px;  
    background-color: #6E6E6E;  
    outline: none;
    margin-top: 15%;
    color: #fff;
  }

input[placeholder="MAKE DIRECTORY"]{
  position: relative;
    left:50%;
    transform: translateX(-50%);
    border: none;
    padding: 10px;  
    background-color: #6E6E6E;  
    outline: none;
    margin-top: 15%;
    color: #fff;
}

input[placeholder="Description"]{
    position: relative;
    left:50%;
    transform: translateX(-50%);
    border: none;
    padding: 10px;  
    background-color: #6E6E6E;  
    outline: none;
    margin-top: 10%;
    color: #fff;
  }


#tree>li{
  width: 100%;
  padding: 5px 20px;
  cursor: pointer;  
}


::placeholder {
  color: White;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: White;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: White;
}

#tree>div{
  padding: 30px;
}

#tree>div>li:hover{
  background-color: red;
}

.tree-title:hover{
  background: lightgray;
}