@font-face {
  font-family: font;
  src: url(font/MYRIADPRO-REGULAR.OTF);
}

* {
  font-family: 'Nanum Gothic', sans-serif;
  list-style-type: none;
}

span {
  font-family: 'Nanum Gothic Coding' !important;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* 화면 꽉 채우기*/

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.5;
  display: none;
}

.header {
  width: 100%;
  height: auto;
  z-index: 2;
}

.nav {
  width: 20%;
  height: 75%;
  float: left;
  background: #ffffff;
  overflow: auto;
}

.section {
  width: 80%;
  height: 75%;
  float: left;
  background: #f2f2f2;
}

/*.aside{width: 15%; height: 70%; float: left; background: white;}*/

.footer {
  width: 100%;
  height: 21%;
  clear: both;
  background: #2E2E2E;
  display: inline-block;
}

.header ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  background-color: #3AAFA9;
}

.dropdown {
  float: left;
}

.dropdown a,
.dropbtn {
  display: inline-block;
  color: #dddddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown a:hover,
.dropdown:hover .dropbtn {
  background-color: #002fff;
  cursor: pointer;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.rightHead {
  float: right;
}

.pop {
  background: white;
  width: 300px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.pop2 {
  background: white;
  width: 300px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#text {
  border: 1px solid #D8D8D8;
  font-size: 20px;
  border-radius: 5%;
}


.popup{
  position: absolute;
  z-index: 100;
  display: none;
  width: 300px;
  height: 300px;
  background-color:#585858;
  border-radius: 10%;
  
}

.tab_title_area .tab_title_item
{
  display: inline-block;
  min-width: 60px;
  max-width: 200px;
  height: 100%;
  border-right: 1px solid #CCC;
}

.tab_title_area .tab_title_item.selected
{
    color: #F00;
}

.tab_content_area {
    width: 100%;
    background-color: #0F0;

}

input[placeholder="ID (e-mail)"]{
  position: relative;
  left:50%;
  transform: translateX(-50%);
  border: none;
  padding: 10px;  
  background-color: #6E6E6E;  
  outline: none;
  margin-top: 10%;
  color: #fff;
}

input[placeholder="PASSWORD"]{
  position: relative;
  left:50%;
  transform: translateX(-50%);
  border: none;
  padding: 10px;  
  background-color: #6E6E6E;  
  outline: none;
  margin-top: 5%;
  color: #fff;
}

input[type="button"].button{
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  border: none;
  padding: 10px;  
  background-color: #FF00FF;
  padding: 20px;
  color: #fff;
  font-weight: bold;
  width: 300px; 
  top:60%;
  cursor: pointer;
}

input[type="button"].btn_tab {
  float: left;

}

input[placeholder="NAME"]{
position: relative;
  left:50%;
  transform: translateX(-50%);
  border: none;
  padding: 10px;  
  background-color: #6E6E6E;  
  outline: none;
  margin-top: 5%;
  color: #fff;
}

input[placeholder="MAKE PROJECT"]{
  position: relative;
    left:50%;
    transform: translateX(-50%);
    border: none;
    padding: 10px;  
    background-color: #6E6E6E;  
    outline: none;
    margin-top: 10%;
    color: #fff;
  }

input[placeholder="MAKE DIRECTORY"]{
  position: relative;
    left:50%;
    transform: translateX(-50%);
    border: none;
    padding: 10px;  
    background-color: #6E6E6E;  
    outline: none;
    margin-top: 15%;
    color: #fff;
}

input[placeholder="Description"]{
    position: relative;
    left:50%;
    transform: translateX(-50%);
    border: none;
    padding: 10px;  
    background-color: #6E6E6E;  
    outline: none;
    margin-top: 10%;
    color: #fff;
}

input[placeholder="SEARCH PROJECT"]{
  position: relative;
    left:50%;
    transform: translateX(-50%);
    border: none;
    padding: 10px;  
    background-color: #6E6E6E;  
    outline: none;
    margin-top: 15%;
    color: #fff;
}

.checks {
  position: relative;
}

.checks input[type="checkbox"] {  /* 실제 체크박스는 화면에서 숨김 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0
}
.checks input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.checks input[type="checkbox"] + label:before {  /* 가짜 체크박스 */
  content: ' ';
  display: inline-block;
  width: 21px;  /* 체크박스의 너비를 지정 */
  height: 21px;  /* 체크박스의 높이를 지정 */
  line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */
  margin: -2px 8px 0 0;
  text-align: center; 
  vertical-align: middle;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius : 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}
.checks input[type="checkbox"] + label:active:before,
.checks input[type="checkbox"]:checked + label:active:before {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checks input[type="checkbox"]:checked + label:before {  /* 체크박스를 체크했을때 */ 
  content: '\2714';  /* 체크표시 유니코드 사용 */
  color: #99a1a7;
  text-shadow: 1px 1px #fff;
  background: #e9ecee;
  border-color: #adb8c0;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}

.checks.etrans input[type="checkbox"] + label {
  padding-left: 30px;
}
.checks.etrans input[type="checkbox"] + label:before {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 0;
  opacity: .6;
  box-shadow: none;
  border-color: #6cc0e5;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.checks.etrans input[type="checkbox"]:checked + label:before {
  position: absolute;
  content: "";
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity:1; 
  background: transparent;
  border-color:transparent #6cc0e5 #6cc0e5 transparent;
  border-top-color:transparent;
  border-left-color:transparent;
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}

.no-csstransforms .checks.etrans input[type="checkbox"]:checked + label:before {
  /*content:"\2713";*/
  content: "\2714";
  top: 0;
  left: 0;
  width: 21px;
  line-height: 21px;
  color: #6cc0e5;
  text-align: center;
  border: 1px solid #6cc0e5;
}

#tree>li{
  width: 100%;
  padding: 5px 20px;
  cursor: pointer;  
}





:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: White;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: White;
}

#tree>div{
  padding: 30px;
}

#tree>div>li:hover{
  background-color: red;
}

.tree-title:hover{
  cursor:pointer;
  background: lightgray;
}

.chat{
  float: right;
  width: 10%;
  height: 100%;
  padding-top: 4.5%;
  text-align: center;
  color: #fff;
  font-size: 20px;
  background-color: #f492a5;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

.chat-list{
  width: 20%;
  height: 50%;
  margin-top: 20.7%;
  margin-left: 70%;
  position: absolute;
  background-color: #fff;
  overflow-y: scroll;
  display: none;
}

.chat-list>ul{
  margin:0;
  padding:0;
}

.chat-list>ul>li{
  cursor: pointer;
  width: 100%;
  text-indent: 10px;
  padding-top: 4%;
  padding-bottom: 4%;
  /* border-bottom: 1px solid #444; */
}

.chat-list>ul>li:first-child{
  margin-top: 10%;
}


.chat-list>ul>li:hover{
  background-color: #f2f2f2;
}

.chat-view{
  width: 20%;
  height: 50%;
  margin-top: 20.7%;
  margin-left: 70%;
  position: absolute;
  background-color: #fff;
  overflow-y: scroll;
  display: none;
}

.chat-view>div>input[type='text']{
  outline: none;
  border:none;
  margin-top: 5px;
  margin-left: 10px;
  padding: 5px;
  width: 90%;
  border-radius: 5px;
  
}

.tree-title{
  user-select: none;
}

#projectlist_popup>li:first-child{
  margin-top: 40px;
}

#projectlist_popup>li{
  background-color: #fefefe;
  width: 80%;
  text-align: center;
  padding:10px 0px;
  margin-bottom: 20px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  transition: 1s;
  cursor: pointer;
}

#projectlist_popup>li:first-child:hover{
  margin-bottom: 0;
  color: #fff;
  background-color: blue;
  width: 100%;
  padding:20px 0px;
  margin-top: 40px;
}


#projectlist_popup>li:hover{
  color: #fff;
  background-color: blue;
  width: 100%;
  padding:20px 0px;
  margin-top: -20px;
  margin-bottom: 0;
}


.tree-selected{
  background: lightgray;
}

/* #activePopup {
  width: 20%;
  height: 100%;
  background: black;
  z-index: 100;
} */

.button_active {
  float: right;
  width: 10%;
  height: 80%;
  margin: 6px 6px 0 0;
  border-radius: 4px;
  font-size: 15px;
  background: gray;
  /* box-shadow: 2px 2px 2px #666, -2px -2px 2px #666, -2px 2px 2px #666, 2px -2px 2px #666; */
  border: #2e2e2e;
}