    @font-face{
        font-family: font;
        src:url(font/MYRIADPRO-REGULAR.OTF);
    }
    *{
        font-family: font;
    }
    span{
      font-family: 'Nanum Gothic Coding' !important;
    }
    html,
    body {
      margin: 0;
      padding: 0;
      height: 100%;
    }/* 화면 꽉 채우기*/

    .container{
      width: 100%;
      height: 100%;
      position: absolute;
      
      background-color: black;
      opacity: 0.5;
      display: none;
    }

    .header {
      width: 100%;
      height: auto;
      z-index:2;
    }

    .nav {
      width: 18%;
      height: 75%;
      float: left;
      background: #ffffff;
    }

    .section {
      width: 82%;
      height: 75%;
      float: left;
      background: #f2f2f2;
    }

    /*.aside{width: 15%; height: 70%; float: left; background: white;}*/

    .footer {
      width: 100%;
      height: 18.5%;
      clear: both;
      background: #2E2E2E;
    }

    ul.menu_bar {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #E6E6E6;
      position: relative;
    }

    .dropdown {
      float: left;
    }

    .dropdown a,
    .dropbtn {
      display: inline-block;
      color: #1C1C1C;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    .dropdown a:hover,
    .dropdown:hover .dropbtn {
      background-color: rgb(40, 72, 255);
    }

    li.dropdown {
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 5;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    .dropdown-content a:hover {
      background-color: #dddddd
    }

    .dropdown:hover .dropdown-content {
      display: block;

    }
    .rightHead{
      float: right;
    }
    .pop{
      background: white;
      width: 300px;
      height: 400px;
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom: 0;
      margin:auto;
    }
    .pop2{
        background: white;
        width: 300px;
        height: 400px;
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom: 0;
        margin:auto;
      }

    #text{
      border:1px solid #D8D8D8;
      font-size: 20px;
      border-radius: 5%;
    }
    .button{
      color:white;
      background-color:#ffffff;
      color:#79bd9a;
      font-weight: bold;
      padding: 15px;
      width: 80%;
      border:none;
      cursor: pointer;
    }
    .button2{
      color:white;
      background-color:#ffffff;
      color:#79bd9a;
      font-weight: bold;
      padding: 15px;
      width: 80%;
      border:none;
      cursor: pointer;
    }
    .popup{
      position: absolute;
      z-index: 100;
      display: none;
      width: 300px;
      height: 300px;
      background-color:#585858;
      border-radius: 10%;
      
    }
    input[placeholder="ID"]{
      position: relative;
      left:50%;
      transform: translateX(-50%);
      border: none;
      padding: 10px;  
      background-color: #6E6E6E;  
      outline: none;
      margin-top: 10%;
      color: #fff;
  }
  
    input[placeholder="PASSWORD"]{
      position: relative;
      left:50%;
      transform: translateX(-50%);
      border: none;
      padding: 10px;  
      background-color: #6E6E6E;  
      outline: none;
      margin-top: 5%;
      color: #fff;
  }
  
  input[type="button"]{
      position: absolute;
      left:50%;
      transform: translateX(-50%);
      border: none;
      padding: 10px;  
      background-color: #FF00FF;
      padding: 20px;
      color: #fff;
      font-weight: bold;
      width: 300px; 
      top:60%;
      cursor: pointer;
  }

  input[placeholder="NAME"]{
    position: relative;
      left:50%;
      transform: translateX(-50%);
      border: none;
      padding: 10px;  
      background-color: #6E6E6E;  
      outline: none;
      margin-top: 5%;
      color: #fff;
  }
