
.menu {
	background-color: #00F;
	list-style-type: none;
}


.menu .top_menu .top_node {
	display: inline-block;
	color: #FFF;
	padding: 0 10px 0 10px;
	border-right: 1px solid #888;
	font-size: 20px;
}

.menu .top_menu .top_node:hover {
	background-color: #008;
	cursor: default;
}

.menu .sub_menu {
	display: none; 
	position: absolute; 
	color: #000; 
	border: 1px solid #000; 
	border-bottom: 0px;
	background-color: #FFF;
}

.sub_menu {
	margin-left: -10px;
}

.sub_menu ul {
	padding: 0px;
	margin: 0px;
	background: rgb(192, 227, 255);
}

.sub_menu_node {
	border-bottom: 1px solid black;
	padding: 5px;
}

.sub_menu_node:hover {
	background: #ccc;
}

.menu .sub_menu .sub_menu_node {
	list-style-type: none;
}