
.popup {
	border: 2px outset #888;
	padding: 2px;
	min-width: 100px !important;
	display: none;
	position: absolute;
	z-index: 100;
	background-color: #FFF;
}

.popup .head {
	border-bottom: 1px solid #AAA;
	padding: 3px;
}

.popup .head div {
	display: inline-block;
}

.popup .head .buttons {
	float: right;
}


.popup .content {
	height: 100px;
}
